// -----------------------------------------------------------------------------
// include these near the start - they shouldn't appear in the processed CSS.
// -----------------------------------------------------------------------------
@import 'style/_variables-and-mixins.scss';

// -----------------------------------------------------------------------------
// Styles specific to flatscreen
// -----------------------------------------------------------------------------
.flatscreen {
    $width: 100%; // change this to change the width of the video.
    // See http://alistapart.com/article/creating-intrinsic-ratios-for-video for
    // the how.

    float: left;
    height: 0;
    overflow: hidden;
    padding: (($width / 16) * 9) 0 1px 0;
    position: relative;
    width: $width;
    z-index: 100;

    img {
        height: 100%;
        width: 100%;
    }
}

.invisible-button,
.flatscreen-wrapper,
.loading-screen {
    bottom: 0;
    @include box-sizing(border-box);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.thumb {
    z-index: 1500;
}

.invisible-button {
    cursor: pointer;
    z-index: 2000;

    img {
        position: relative;
        z-index: -1;
    }

    &:after,
    &:before {
        content: ' ';
        left: 50%;
        position: absolute;
        top: 50%;
        z-index: 2500 !important;
        @include transition( all 100ms ease-in-out );
    }

    &:before {
        background: $black;
        background: rgba($black, 0.75);
        @include border-radius(1em);
        @include box-sizing(border-box);
        font-size: 4em; /* change this to change everything else */
        margin: -0.5em 0 0 -0.5em;
        height: 1em;
        width: 1em;
    }

    &:after {
        border-style: solid;
        border-color: transparent transparent transparent $grey-light;
        border-color: transparent transparent transparent rgba($white, 0.75);
        border-width: 1em 0 1em 1.732em; /* equilateral triangle ratios */
        margin: -1em 0 0 -0.55em;
        height: 0;
        width: 0;
    }

    &:hover {

        &:before {
            background: rgba($black, 0.99);
        }

        &:after {
            border-color: transparent transparent transparent #fff;
        }
    }
}

.loading-screen {
    display: none;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
}

.loading-spinner {
    @include animation(spin 1s steps(8, end) infinite);
    @include background-size(contain);
    font-size: 0.9em;
    height: 2em;
    left: 50%;
    margin: -1.25em 0 0 -1em;
    position: absolute;
    top: 50%;
    width: 2em;
    z-index: 2500;

    .circles {
        height: 2em;
        position: absolute;
        top: 0;
        @include transform( rotate(45deg) );
        width: 2em;

        &:after {
            @include border-radius(0.5em);
            background-color: $darkgrey;
            content: '';
            height: 0.5em;
            left: 50%;
            margin: 0 0 0 -0.25em;
            width: 0.5em;
            position: absolute;
            top: 0;
        }

        // number of circles in the loading spinner
        $circles: 8;

        // a loop for creating nth-child(x)
        @for $i from 1 through $circles {
            &:nth-child(#{$i}) {
                @include transform( rotate((45deg * $i)) );
                &::after {
                    background-color: rgba($darkergrey, ( $i * (1/8)) );
                }
            }
        }


    }
}

@mixin spin-keyframes() {
    0% {
        @include transform( rotate(0deg) );
    }

    100% {
        @include transform( rotate(360deg) );
    }
}

    @-moz-keyframes spin {
        @include spin-keyframes();
    }
    @-ms-keyframes spin {
        @include spin-keyframes();
    }
    @-o-keyframes spin {
        @include spin-keyframes();
    }
    @-webkit-keyframes spin {
        @include spin-keyframes();
    }
@keyframes spin {
    @include spin-keyframes();
}

.no-cssanimations {
    .loading-spinner {
       background: transparent url('images/spinner.gif') no-repeat 50% 50%;
    }
    .circles {
        display: none;
    }
}